*.pem
*/*.pem
**/*.pem

._*
*/._*
**/._*

.terraform/*
*/.terraform/*
**/.terraform/*

*.terraform.lock.*%
*/*.terraform.lock.*%
**/*.terraform.lock.*%

*.tfstate.backup
*/*.tfstate.backup
**/*.tfstate.backup

*.tfstate
*/*.tfstate
**/*.tfstate
